[Unit]
Description=Pre-Shutdown Processes
DefaultDependencies=no
Before=k3s.service shutdown.target
# This works because it is installed in the target and will be
#   executed before the target state is entered
# Also consider kexec.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/k3s-killall.sh
TimeoutStartSec=0

[Install]
WantedBy=halt.target reboot.target shutdown.target
